<nav>
  Ruang Les:
  <a href="/"> Home |</a>
  <a href="/tutors"> Tutors |</a>
  <a href="/students"> Students |</a>
  <a href="/students/add"> Add Student |</a>
  <a href="/register"> Log in (admin) |</a>
</nav>