<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Student</title>
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  <h1>Add Student</h1>
  <form method="POST" action="/students/add">
    <div>
      <label for="name">Student's Name:</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="age">Student's Age:</label>
      <input type="number" name="age" id="age">
    </div>
    <div>
      <label for="gender">Student's Gender:</label>
      <input type="radio" id="male" name="gender" value="Male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="Female">
      <label for="female">Female</label>
    </div>
    <div>
      <label for="tutorId">Student's Tutor:</label>
      <select name="tutorId" id="tutorId">
        <% data.forEach((element) => { %>
          <option value="<%= element.id %>"> <%= element.name %> </option>
        <% }) %>
      </select>
    </div>
    <button type="submit"> Add </button>
  </form>
  
</body>
</html>